.link_input{
  font-size: 20px;
  padding-left: 30px;
  color:white;
  text-align: center;
  font-weight:400;
 }
 
 
 .home_input{
  font-size: 20px;
  margin-left:360px;
  color:white;
  font-weight:400;
}
.navbar-inner{
width:100%;
height: 100%;
background: transparent;
background-color: #000;
background: 0 0!important;
}
.button_class
{
  width: 70%;
  height: 10%;
  margin-left: 25%;
  background-color: rgb(233, 141, 75);
}
.book_input{
  font-size: 14px;
  padding-top: 0.5rem; /* 1rem=16px */
  padding-bottom: 0.5rem;
 color:black;

   }
.nav_text{
font-size: larger;
padding-left: 8%;

}

@media screen and (max-width:680px){

  .search_input{
    margin-left: 2%;
    width: 87%;
    height: 60%;
    margin-top: 10%;
    }
    .linput{
      font-size: 20px;
      padding-left: 0px;
      color:white;
     }
     
     .hinput{
      font-size: 20px;
      margin-left:1px;
      color:white;
    }
    .To_text{
      font-size:25px;
      color: white;
      margin-left: 0%;
    
    }
    .place_text {
      font-size: 20px;
      color: black;
      margin-left: 0%;
  
  }
  .place_text2 {
    font-size: 20px;
    color: black;
    margin-left: 0%;

}
    .person_input1{
      font-size: 13px;
      margin-left: -6%;
       margin-top: -23%;
       width: 37%;
       height:38%;
       color:black;
       background-color: orange;
       border-radius: 33%;
       border-color: orange;
    }
    .book_input{
      font-size: 14px;
      padding-top: 0.5rem; /* 1rem=16px */
      padding-bottom: 0.5rem;
     color:black;
     margin-left:1px;
       }
       .text_1 {
        font-size: 32px;
        color: #000;
        opacity: 0.8;
        margin-top: 1%;
        margin-left: 11%;
    }
   .text_3 {
      font-size: 30px;
      color: orange;
      margin-left: -12%;
      opacity: 1.4;
      padding-top: 10%;
  }
  .text_4 {
    font-size: 19px;
    color: #000;
    margin-left: 10px;
    opacity: 0.7;
    margin-left: -12%;
  }
  .booknow {
    border: 1px solid #807373;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 17%;
    background: none;
    margin-left: -39px;
}
.home_input{
  margin-left: 4%;
}
}